<md-expansion-panel #panel>
  <md-expansion-panel-header>
    <md-panel-title>
      <img class="skill-logo" [src]="getTechLogo()">
      <span>{{tech.title}}</span>
    </md-panel-title>
  </md-expansion-panel-header>

  <p [innerHtml]="tech.description | i18n"></p>

  <md-list dense>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxFlex.gt-sm="50">
        <md-list-item>
          <md-icon mdListIcon>assessment</md-icon>
          <p md-line class="text-muted">{{'profile.proficiency' | translate}}</p>
          <p md-line>{{tech.proficiency}} %</p>
        </md-list-item>
        <md-divider></md-divider>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50">
        <md-list-item>
          <md-icon mdListIcon>date_range</md-icon>
          <p mdLine class="text-muted">{{'profile.career' | translate}}</p>
          <p mdLine>{{tech.year}} {{'profile.year' | translate}}</p>
        </md-list-item>
        <md-divider></md-divider>
      </div>
      <div fxFlex="100">
        <md-list-item>
          <md-icon mdListIcon>class</md-icon>
          <p mdLine class="text-muted">{{'profile.experience' | translate}}</p>
          <p mdLine class="text-wrap">{{tech.experience}}</p>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </div>
  </md-list>

</md-expansion-panel>
<div class="stack-score" *ngIf="!isOpen" [ngClass]="tech.name">
  <md-progress-bar mode="deteminate" [value]="tech.proficiency"></md-progress-bar>
</div>