<md-expansion-panel hideToggle="true" #panel>
  <md-expansion-panel-header>
    <md-panel-title>
      <img class="skill-logo" [src]="getTechLogo()">
      <span>{{tech.title}}</span>
    </md-panel-title>
    <div class="text-muted" *ngIf="!isOpen"><small>{{'profile.more' | translate}}</small></div>
  </md-expansion-panel-header>
  <p [innerHtml]="tech.description"></p>
</md-expansion-panel>
<div class="stack-score" *ngIf="!isOpen" [ngClass]="tech.name">
  <md-progress-bar mode="deteminate" [value]="tech.proficiency"></md-progress-bar>
</div>