<button [mdMenuTriggerFor]="themeMenu" md-icon-button mdTooltip="테마 변경">
  <md-icon>format_color_fill</md-icon>
</button>
<md-menu class="theme-menu" #themeMenu="mdMenu">
  <md-grid-list cols="2">
    <md-grid-tile *ngFor="let theme of themes">
      <div md-menu-item (click)="installTheme(theme)">
        <div class="theme-swatch">
          <md-icon class="theme-chosen-icon" *ngIf="currentTheme === theme">check_circle</md-icon>
          <div class="theme-primary" [style.background]="theme.primary"></div>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</md-menu>
