<md-list-item sidenavItem class="sidenav-list-item" role="listitem" *ngIf="isShow()" (click)="toggle($event)" [ngClass]="{'has-submenu': hasSub, 'open': isOpen()}" routerLinkActive="active">
  <!-- 링크 메뉴 -->
  <a [routerLink]="['/', item.path]" *ngIf="item.type === menuTypes.link">
    <span class="menu-item-tooltip" [mdTooltip]="item.tooltip" mdTooltipPosition="right"></span>
    <md-icon>{{item.icon}}</md-icon>
    <span>{{item.name}}</span>
  </a>
  <!-- 하위메뉴 포함용 메뉴 -->
  <a *ngIf="item.type === menuTypes.dropDown">
    <span class="menu-item-tooltip" [mdTooltip]="item.tooltip" mdTooltipPosition="above"></span>
    <md-icon>{{item.icon}}</md-icon>
    <span>{{item.name}}</span>
    <span fxFlex></span>
    <md-icon class="menu-caret">arrow_drop_down</md-icon>
  </a>
  <!-- 외부 링크 메뉴 -->
  <a [href]="item.path" *ngIf="item.type === 'extLink'" target="_blank">
    <span class="menu-item-tooltip" [mdTooltip]="item.tooltip" mdTooltipPosition="right"></span>
    <md-icon>{{item.icon}}</md-icon>
    <span>{{item.name}}</span>
  </a>
  <!-- 하위 메뉴 -->
  <md-nav-list class="sub-menu" role="list" *ngIf="item.type === menuTypes.dropDown">
    <md-list-item routerLinkActive="selected" *ngFor="let subItem of item.sub">
      <a [routerLink]="['/', item.path, subItem.path]">{{subItem.name}}</a>
    </md-list-item>
  </md-nav-list>

</md-list-item>

<!-- 구분선 -->
<div class="mt-1 mb-1" *ngIf="!item.disabled && item.type === menuTypes.separator">
  <md-divider *ngIf="index != 0"></md-divider>
  <span class="section-title text-muted" *ngIf="!!item.name">{{item.name}}</span>
</div>