<md-sidenav-container>

  <div *ngIf="isFetching$ | async" class="progress-bar-container">
    <md-progress-bar mode="indeterminate" [color]="color"></md-progress-bar>
  </div>

  <app-toolbar [quickpanel]="quickpanel" [sidenav]="sideNav"></app-toolbar>

  <md-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

  </md-sidenav>

  <md-sidenav class="sidenav" [opened]="!isNavOver()" align="start" [mode]="isNavOver() ? 'over' : 'side'" #sideNav>

    <app-sidenav></app-sidenav>

  </md-sidenav>

  <div class="content-container">

    <div class="main-container" >
      <router-outlet></router-outlet>
    </div>
  </div>

</md-sidenav-container>