<md-sidenav-container>

  <md-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

  </md-sidenav>

  <md-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" #sidenav>

    <app-sidenav></app-sidenav>

  </md-sidenav>

  <div class="content-container" fxLayout="column">
    <!-- -->
    <app-toolbar [quickpanel]="quickpanel" [sidenav]="sidenav"></app-toolbar>
    <div class="main-container" >
      <router-outlet></router-outlet>
    </div>
  </div>

</md-sidenav-container>