<md-toolbar color="primary">
  <!-- 토글 버튼 -->
  <button md-icon-button id="sidenavToggle" (click)="toggleSidenav()" [mdTooltip]="'common.toolbar.menu-icon' | translate">
    <md-icon>menu</md-icon>
  </button>

  <span class="flex-spacer"></span>

  <div fxLayoutGap="10px">
    <!-- 언어 변경 -->
    <app-i18n></app-i18n>

    <!-- 테마 변경 -->
    <app-theme *ngIf="!isWebApp"></app-theme>

    <!-- 기타메뉴(로그인 같은 용도로 사용)-->
    <button md-icon-button [mdMenuTriggerFor]="etcMenu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #etcMenu="mdMenu">
      <div *ngIf="!auth.authenticated">
        <button md-menu-item [routerLink]="['/auth/login']">{{'common.toolbar.login' | translate}}</button>
      </div>
      <div *ngIf="auth.authenticated">
        <button md-menu-item (click)="logout()">{{'common.toolbar.logout' | translate}}</button>
      </div>
    </md-menu>
  </div>

  <div fxFlex="0" fxHide.xs fxFlexOffset="15px"></div>

</md-toolbar>