<md-card>
  <md-card-header>
    <md-card-title>
      <h4>{{'contact.title' | translate}}</h4>
    </md-card-title>
    <md-card-subtitle>{{'contact.subTitle' | translate}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-divider></md-divider>
    <div class="list-wrapper" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxFlex.gt-xs="35" fxLayout="column" fxFlexAlign="start">
        <h6><b>{{'contact.contact' | translate}}</b></h6>
        <md-list dense>
          <md-list-item>
            <md-icon mdListIcon>contact_mail</md-icon>
            <p mdLine><a href="mailto:tienne89@gmail.com">tienne89@gmail.com</a></p>
          </md-list-item>
        </md-list>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="65" fxLayout="column" fxFlexAlign="start">
        <h6><b>{{'contact.welcome' | translate}}</b></h6>
        <md-list dense>
          <md-list-item>
            <md-icon mdListIcon>group</md-icon>
            <p mdLine class="text-wrap">{{'contact.welcome1' | translate}}</p>
          </md-list-item>
          <md-list-item>
            <md-icon mdListIcon>group</md-icon>
            <p mdLine class="text-wrap">{{'contact.welcome2' | translate}}</p>
          </md-list-item>
          <md-list-item>
            <md-icon mdListIcon>group</md-icon>
            <p mdLine class="text-wrap">{{'contact.welcome3' | translate}}</p>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <md-divider class="mt-1"></md-divider>
  </md-card-content>

  <md-card-footer>
    <div class="footer-icons" fxLayout="row" fxLayoutAlign="space-around center">
      <button md-icon-button mdTooltip="Github">
        <a href="https://github.com/tienne" target="_blank">
          <img [src]="getSocialLogo('github')" alt="Github">
        </a>
      </button>
      <button md-icon-button mdTooltip="Facebook">
        <a href="https://www.facebook.com/profile.php?id=100014637010536" target="_blank">
          <img [src]="getSocialLogo('facebook')" alt="Facebook">
        </a>
      </button>
      <button md-icon-button mdTooltip="Blog">
        <a href="http://web-front-end.tistory.com/" target="_blank">
          <img [src]="getSocialLogo('tistory')" alt="Blog">
        </a>
      </button>
    </div>
  </md-card-footer>
</md-card>
