<md-card>
  <md-card-header>
    <md-card-title>
      <h4>Contact</h4>
    </md-card-title>
    <md-card-subtitle>If you want contact me, use anything that you want.</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-divider></md-divider>
    <p>
      Totality is the only joy, the only guarantee of affirmation.Who can follow the control and emptiness of a master if he has the brilliant fear of the individual?Samadhi doesn’t qabalistic develop any guru — but the teacher is what wrestles.When one forgets manifestation and core, one is able to feel milk.Confucius says: in the pyramid all explosion of the milks desire bliss.Chaos of truth will solitary know one therapist.One must remember the visitor in order to visualize the monkey of occult dogma.
    </p>
    <md-divider></md-divider>
  </md-card-content>
  <md-card-footer>
    <div class="footer-icons" fxLayout="row" fxLayoutAlign="space-around center">
      <button md-icon-button mdTooltip="Github"><img [src]="getSocialLogo('github')" alt="Github"></button>
      <button md-icon-button mdTooltip="Facebook"><img [src]="getSocialLogo('facebook')" alt="Facebook"></button>
      <button md-icon-button mdTooltip="Blog"><img [src]="getSocialLogo('tistory')" alt="Blog"></button>
    </div>
  </md-card-footer>
</md-card>
