:host {
  md-card-header h4 {
    margin-top: 15px;
  }
  md-card-footer .footer-icons {
    button img {
      width: 29px;
      max-width: 29px;
    }
  }

  .list-wrapper {
    margin-left: 15px;
  }
}