:host {
  .auth-wrap {
    display: flex;
    align-items: center;
    padding: 40px 1rem;
    height: 100%;

    .auth-inner-wrap {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;

      /deep/ md-form-field {
        width: 100%;
      }
    }
  }
}