@import "../../../styles/constants";

.sidenav-container {
  width: 15rem;
  min-width: 15rem;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-transition: all .3s cubic-bezier(.35,0,.25,1);
  transition: all .3s cubic-bezier(.35,0,.25,1);

  .navigation-warper {
    position: relative;
    padding-top: 64px;
    height: 100%;
    -webkit-transition: all .3s cubic-bezier(.35, 0, .25, 1);
    transition: all .3s cubic-bezier(.35, 0, .25, 1);

    .branding {
      z-index: $layer-last;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: fixed;
      width: 100%;
      max-width: 15rem;
      height: 64px;
      //line-height: 64px;
      top: 0;
      left: 0;
      color: #444;
      .logo-btn {
        height: 100%;

        .app-logo {
          width: auto;
          height: 50px;
          margin-right: 8px;
        }

        .app-logo-text {
          width: auto;
          height: 35px;
        }
      }
    }


    .app-user {
      text-align: left;
      width: 100%;
      padding: 1rem 0 .4rem;

      .app-user-photo {
        width: 128px;
        margin: 0 auto 8px;
        height: 128px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }

      .user-info {
        margin-left: 0.6rem;
        font-size: 1rem;
        a:hover {
          text-decoration: underline;
        }
        md-icon {
          font-size: 1rem !important;
          margin-right: 0.5rem;
          line-height: 16px;
          height: 16px;
          width: 16px;
        }
      }

    }
  }
}
