<md-card>
  <md-card-header>
    <img md-card-avatar class="profile-avatar" src="assets/images/project.png">
    <md-card-title>Projects</md-card-title>
    <md-card-subtitle>My Projects</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-divider></md-divider>

    <div>
      <md-select [multiple]="true" placeholder="filter" style="width: 100%">
        <md-option>1</md-option>
        <md-option>2</md-option>
        <md-option>3</md-option>
        <md-option>4</md-option>
      </md-select>
    </div>
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="5%">
      <div fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="28">
        <md-card >
          <md-card-header>aaa</md-card-header>
          <md-card-content>bbb</md-card-content>
        </md-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="28">
        <md-card >
          <md-card-header>aaa</md-card-header>
          <md-card-content>bbb</md-card-content>
        </md-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="28">
        <md-card >
          <md-card-header>aaa</md-card-header>
          <md-card-content>bbb</md-card-content>
        </md-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="28">
        <md-card >
          <md-card-header>aaa</md-card-header>
          <md-card-content>bbb</md-card-content>
        </md-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="28">
        <md-card >
          <md-card-header>aaa</md-card-header>
          <md-card-content>bbb</md-card-content>
        </md-card>
      </div>
    </div>


  </md-card-content>
</md-card>
