<md-card>
  <md-card-header>
    <!--<img md-card-avatar class="profile-avatar" src="assets/images/project.png">-->
    <!--<md-card-title>Projects</md-card-title>-->
    <!--<md-card-subtitle>My Projects</md-card-subtitle>-->
  </md-card-header>
  <md-card-content>
    <!--<md-divider></md-divider>-->

    <div class="filter-wrapper" fxLayoutAlign="end">
      <md-select [multiple]="true" [placeholder]="'project.filter' | translate" fxFlex="100" #filterSelect [(ngModel)]="filterSelected">
        <!--<md-select-trigger [innerHtml]="filterLabel"></md-select-trigger>-->
        <md-option *ngFor="let tag of tags$ | async" [value]="tag">{{tag.title}}</md-option>
      </md-select>
    </div>

    <div class="projects-wrapper" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center" fxLayoutGap.gt-xs="1%" fxLayoutGap.gt-md="3%">
      <md-card *ngFor="let project of projects$ | async | tagFilter:filterSelected"  fxFlex="100" fxFlex.gt-xs="48" fxFlex.gt-md="30">
        <a (click)="projectClick(project)">
          <md-card-header>
            <img class="project-logo" [src]="projectService.getProjectLogo(project)" mdCardAvatar>
            <md-card-title>{{project.title}}</md-card-title>
            <md-card-subtitle>{{project.subTitle | i18n}}</md-card-subtitle>
          </md-card-header>
          <div class="card-image-wrapper" mdCardImage>
            <img [src]="projectService.getProjectImage(project)" (error)="defaultImage($event)">
          </div>
        </a>
        <md-card-footer>
          <div class="skill-logos">
            <a *ngFor="let tag of project.tags" md-icon-button>
              <img src="assets/images/tech-logos/{{tag}}.png" [mdTooltip]="tag">
            </a>
          </div>
        </md-card-footer>
      </md-card>
    </div>


  </md-card-content>
</md-card>
