<div class="login-header" fxLayout="column" fxLayoutAlign="center center">
  <img src="assets/images/logo.png" alt="logo" id="logo">
  <img src="assets/images/logo-text.png" alt="I'm Ground" id="logo-text">
  <p>Sign in to your account</p>
</div>
<md-card>
  <md-card-content>
    <form #loginForm="ngForm" (ngSubmit)="login()" fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxLayout="column">
        <md-form-field fxFlex="100">
          <input mdInput name="email" required [(ngModel)]="loginData.username" #email="ngModel" placeholder="Email" value="">
        </md-form-field>
        <small *ngIf="email.errors && (email.dirty || email.touched) && (email.errors.required)" class="form-error-msg"> Email is required </small>
      </div>
      <div fxFlex="100" fxLayout="column">
        <md-form-field fxFlex="100">
          <input type="password" name="password" required mdInput [(ngModel)]="loginData.password" #password="ngModel" placeholder="Password" value="">
        </md-form-field>
        <small *ngIf="password.errors && (password.dirty || password.touched) && (password.errors.required)" class="form-error-msg"> Password is required </small>
      </div>

      <!--<div fxFlex="100" class="pb-1">-->
        <!--<md-checkbox name="rememberMe">Remember this computer</md-checkbox>-->
      <!--</div>-->

      <button md-raised-button [disabled]="loginForm.invalid" id="sign-btn" type="submit" color="primary">Sign in</button>
    </form>
  </md-card-content>
</md-card>


