<md-card>
  <!-- 헤더 -->
  <md-card-header>
    <img md-card-avatar class="profile-avatar" src="assets/images/profile.jpg">
    <md-card-title><b>David Kwon</b></md-card-title>
    <md-card-subtitle>Web Developer in Seoul</md-card-subtitle>

  </md-card-header>

  <md-card-content>
    <md-divider></md-divider>
    <p>The moonlight of your conclusions will travel cheerfully when you view that acceptance is the karma.</p>
    <!-- 기술 요약 -->
    <div class="tech-stack-container">
      <app-tech-stack *ngFor="let tech of techs" [tech]="tech"></app-tech-stack>
    </div>
  </md-card-content>
</md-card>