<md-card>
  <!-- 헤더 -->
  <md-card-header>
    <img md-card-avatar class="profile-avatar" src="assets/images/profile.jpg">
    <md-card-title><b>{{'common.app.author' | translate}}</b></md-card-title>
    <md-card-subtitle>{{'profile.subTitle' | translate}}</md-card-subtitle>

  </md-card-header>

  <md-card-content>
    <md-divider></md-divider>
    <p [innerHtml]="'profile.description' | translate"></p>
    <app-spinner *ngIf="techLoading"></app-spinner>
    <!-- 기술 요약 -->
    <div class="tech-stack-container">
      <md-accordion>
        <app-tech-stack *ngFor="let tech of techs$ | async" [tech]="tech"></app-tech-stack>
      </md-accordion>
    </div>
  </md-card-content>
</md-card>