<md-card>
  <!-- 헤더 -->
  <md-card-header>
    <img md-card-avatar class="profile-avatar" src="assets/images/profile.jpg">
    <md-card-title><b>{{'common.app.author' | translate}}</b></md-card-title>
    <md-card-subtitle>{{'profile.subTitle' | translate}}</md-card-subtitle>

  </md-card-header>

  <md-card-content>
    <md-divider></md-divider>
    <div [innerHtml]="'profile.description' | translate"></div>
    <div>
      <h4>{{'profile.skills' | translate}}</h4>
    </div>

    <app-spinner *ngIf="skillLoading"></app-spinner>
    <!-- 기술 요약 -->
    <div class="tech-stack-container">
      <app-skill *ngFor="let skill of skills$ | async" [skill]="skill"></app-skill>
    </div>
  </md-card-content>
</md-card>