@import '../../node_modules/@angular/material/theming';

@mixin app-theme($md-primary, $md-accent, $isDark) {

  @include mat-core();
  $primary-dark: darken( map-get($md-primary, 500), 8% );
  $app-primary: mat-palette($md-primary);
  $app-accent:  mat-palette($md-accent);

  $themeDark: mat-dark-theme($app-primary, $app-accent);
  $theme: mat-light-theme($app-primary, $app-accent);

  $background: map-get(if($isDark, $themeDark, $theme), background);
  $foreground: map-get(if($isDark, $themeDark, $theme), foreground);

  @include angular-material-theme(if($isDark, $themeDark, $theme));

  //toolbar 처리 시작
  app-toolbar .mat-select-value {
    font-weight: 400;
    color: #ffffff;
  }

  //not-found-wrapper
  .not-found-wrapper {
    background: mat-color($background, background);
    color: mat-color($foreground, base);
  }

  //primary 배경에 흰색 글씨 처리
  .mat-bg-primary,
  .app-toolbar,
  .sidenav.mat-sidenav .sidenav-list-item.active md-icon:not(.menu-caret),
  .chats-wrap .conversations-hold .single-conversation.me .conversation-msg,
  .ngx-datatable .datatable-footer .datatable-pager .pager .pages.active a,
  .fileupload-drop-zone.dz-file-over,
  .toolbar-avatar.online > .status-dot,
  .cal-open-day-events,
  div.hopscotch-bubble {
    background: map-get($md-primary, 500) !important;
    color: #ffffff !important;
  }
  .mat-color-primary,
  .sidenav.mat-sidenav .sidenav-list-item.active > .mat-list-item-content > a > span,
  .sidenav.mat-sidenav .sidenav-list-item.open .sub-menu .mat-list-item.selected a {
    color: map-get($md-primary, 500) !important;
  }
  .sidenav.mat-sidenav .sidenav-list-item.active > .mat-list-item-content > a > span,
  .sidenav.mat-sidenav .sidenav-list-item.active .sub-menu .mat-list-item.selected a {
    font-weight: 500;
  }
  .sidenav.mat-sidenav .sidenav-list-item.active > .mat-list-item-content > .sub-menu {
    border-left: 2px solid map-get($md-primary, 500);
  }
  .messages-wrap .inbox-hold {
    background: transparent !important;
  }
  .sidenav.mat-sidenav {
    //background: url('../../images/sidebar-bg-dark.jpg') no-repeat;
  }

  .app-user .user-info,
  .sidenav.mat-sidenav .sidenav-list-item md-icon:not(.menu-caret),
  .ql-snow .ql-picker {
    color: if($isDark, white, rgba(0, 0, 0, .96)) !important;
  }

  .text-muted {
    color: if($isDark, rgba(255, 255, 255, .54), rgba(0, 0, 0, .54)) !important;
  }

  .sidenav.mat-sidenav .navigation-warper,
  .message-item.open .message-head,
  .ngx-datatable.material .datatable-header,
  .bg-white,
  .cal-month-view .cal-cell-row:hover,
  .chats-wrap .conversations-hold .single-conversation.sender .conversation-msg,
  .cal-day-view .cal-hour:nth-child(odd),
  &.collapsed-menu .sidenav .sidenav-list-item.open .sub-menu,
  .breadcrumb-bar {
    background: if($isDark, rgba(66, 66, 66, 0.92), rgba(255, 255, 255, .95)) !important;
  }
  .cal-month-view .cal-cell-row .cal-cell:hover,
  .cal-month-view .cal-cell.cal-has-events.cal-open,
  .cal-week-view .cal-day-headers .cal-header:hover,
  .cal-week-view .cal-day-headers .cal-drag-over,
  .cal-day-view .cal-hour-segment:hover,
  .cal-day-view .cal-drag-over .cal-hour-segment {
    background: #333 !important;
  }
  .cal-month-view .cal-day-cell:not(:last-child),
  .cal-month-view .cal-days,
  .cal-week-view .cal-day-headers .cal-header:not(:last-child),
  .cal-week-view .cal-day-headers,
  .cal-month-view .cal-days .cal-cell-row,
  .cal-day-view .cal-hour:not(:last-child) .cal-hour-segment,
  .cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border-color: #000 !important;
  }

  /* Hopscotch Tour */
  div.hopscotch-bubble {
    border-color: $primary-dark;
  }
  /* up arrow  */
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
    border-bottom: 17px solid $primary-dark;
  }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
    border-bottom: 17px solid map-get($md-primary, 500);
    top: -16px;
  }
  /* right arrow */
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
    border-left: 17px solid $primary-dark;
  }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
    border-left: 17px solid map-get($md-primary, 500);
    left: -1px;
  }
  /* bottom arrow */
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
    border-top: 17px solid $primary-dark;
  }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
    border-top: 17px solid map-get($md-primary, 500);
    top: -18px;
  }
  /* Left Arrow */
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
    border-right: 17px solid $primary-dark;
  }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
    left: 1px;
    border-right: 17px solid map-get($md-primary, 500);
  }

  .mat-bg-accent,
  div.hopscotch-bubble .hopscotch-bubble-number,
  div.hopscotch-bubble .hopscotch-nav-button.next:hover,
  div.hopscotch-bubble .hopscotch-nav-button.next {
    background-color: map-get($md-accent, 500);
    color: black;
  }
  .mat-bg-warn {
    background-color: #f44336;
    color: white;
  }
  .mat-color-accent {
    color: map-get($md-accent, 500);
  }
  .mat-color-warn {
    color: #f44336;
  }
}