// TYPOGRAPHY
$main-font: '"맑은 고딕", "Malgun Gothic", Tahoma, "Dotum", Droid serif, Helvetica, Arial, sans-serif';
$code-font: "Droid Sans Mono, monospace";

// Z-LAYER
$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
$layer-4: 4;
$layer-5: 5;
$layer-last: 9999;